<main class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-8">
            <div class="container text-center table-responsive">
                <table class="table table-bordered table-light caption-top align-middle">
                    <caption>Conversor de divisas</caption>
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th><img class="img-fluid divisa-imagen" src="assets/img/united-states.png" alt=""> USD</th>
                            <th><img class="img-fluid divisa-imagen" src="assets/img/european.png" alt="">EUR</th>
                            <th><img class="img-fluid divisa-imagen" src="assets/img/argentina.png" alt="">ARS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <img class="img-fluid divisa-imagen" src="assets/img/{{ fila1.img }}" alt="">
                            </th>
                            <th scope="row">
                                <p>1 USD</p>
                                <p>Inverse</p>
                            </th>
                            <td *ngFor="let eq of fila1.equivalencias">
                                <p>{{ eq | number: '1.6' }}</p>
                                <p>{{ calcularInversa(eq) | number: '1.6' }}</p>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <img class="img-fluid divisa-imagen" src="assets/img/{{ fila2.img }}" alt="">
                            </th>
                            <th scope="row">
                                <p>1 EUR</p>
                                <p>Inverse</p>
                            </th>
                            <td *ngFor="let eq of fila2.equivalencias">
                                <p>{{ eq | number: '1.6' }}</p>
                                <p>{{ calcularInversa(eq) | number: '1.6' }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <img class="img-fluid divisa-imagen" src="assets/img/{{ fila3.img }}" alt="">
                            </th>
                            <th scope="row">
                                <p>1 ARS</p>
                                <p>Inverse</p>
                            </th>
                            <td *ngFor="let eq of fila3.equivalencias">
                                <p>{{ eq | number: '1.6' }}</p>
                                <p>{{ calcularInversa(eq) | number: '1.6' }}</p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 d-flex contenedor-oscuro">
            <form id="conversor" class="align-self-center">
                <h4>Conversor de Divisas</h4>
                <div class="mb-3">
                  <label for="cantidad" class="form-label">Cantidad</label>
                  <input [(ngModel)]="amount" name="amount" type="number" class="form-control shadow-none" id="cantidad" placeholder="Cantidad">
                </div>
                <div class="mb-3">
                    <label for="origen" class="form-label">De</label>
                    <select [(ngModel)]="from" name="from" id="origen" class="form-select form-control shadow-none">
                        <option selected disabled>Selecciona divisa</option>
                        <option *ngFor="let d of divisas" [ngValue]="d">{{ d.description }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="destino" class="form-label">A</label>
                    <select [(ngModel)]="to" name="to" id="destino" class="form-select form-control shadow-none">
                      <option selected disabled>Selecciona divisa</option>
                      <option *ngFor="let d of divisas" [ngValue]="d">{{ d.description }}</option>
                    </select>
                </div>
                <h5 class="text-white">Resultado</h5>
                <div class="mb-3 resultado text-center">
                    {{ conversion | currency: to.code }}
                </div>
                <button (click)="convert()" type="submit" class="btn btn-formulario shadow-none">CONVERTIR</button>
            </form>
        </div>
    </div>
</main>