<main class="container-fluid">
    <div class="row justify-content-center my-5">
        <h2 class="col-8 col-lg-6 text-white">Buscar</h2>
        <div class="w-100 d-none d-lg-block"></div>
        <form class="col-8 col-lg-6 d-flex mb-5" action="get">
            <input (change)="clear()" class="form-control shadow-none me-2" [(ngModel)]="consulta" name="consulta" placeholder="Buscar por nombre" autocomplete="off" spellcheck="false">
            <button (click)="buscarCancion()" type="submit" class="btn btn-buscar shadow-none"><i class="bi bi-search"></i></button>
        </form>
        <!-- <div class="col-8">
            <div *ngFor="let c of canciones" class="p-1">
                <p class="text-white">{{ c.title }}</p>
                <p class="text-white">{{ c.artist.name }}</p>
                <audio src="{{ c.preview }}" controls></audio>
            </div>
        </div> -->

        <div *ngFor="let c of canciones" class="row justify-content-center">
            <div  class="card mb-3 col-lg-6 py-2 cancion-container">
                <div class="row g-0">
                  <div class="col-2 d-flex">
                    <img src="{{ c.album.cover_big }}" class="img-fluid d-block align-self-center" alt="...">
                  </div>
                  <div class="col-10">
                    <div class="card-body row">
                        <div class="col-5">
                            <h5 class="card-title">{{ c.title }}</h5>
                            <p class="card-text">{{ c.artist.name }}</p>
                            <p class="card-text"><small class="text-muted">{{ c.album.title }}</small></p>
                        </div>
                        <audio class="col-7 align-self-center" src="{{ c.preview }}" controls></audio>
                    </div>
                  </div>
                </div>
            </div>
            <div  class="w-100 d-none d-lg-block"></div>
        </div>
    </div>
</main>