<div class="container-fluid">
    <div class="row">
        <main id="peliculas" class="col-8">
            <div class="container">
                <div class="row justify-content-center my-5">
                    <h2 class="col-md-8 text-white">Buscar</h2>
                    <form class="col-md-8 d-flex mt-2" method="get">
                        <input (change)="clear()" [(ngModel)]="text" name="text" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search">
                        <button (click)="search()" class="btn btn-buscar" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>

                <div class="row d-flex justify-content-center">
                    <div *ngFor="let movie of movies" class="col-md-6 col-lg-3 my-3 m-lg-4">
                        <div class="card">
                            <div class="imagen">
                                <img src="{{ movie.image }}" class="card-img-top" alt="">
                                <div class="card-img-overlay">
                                    <h6 class="card-title">{{ movie.title }}</h6>
                                    <p class="card-text">Una descripcion</p>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <small class="text-muted">{{ movie.year }}</small>
                            </div>
                            <a class="card-link" [routerLink]="['/pagea']"></a>
                        </div>
                    </div>
                </div>

                <div *ngIf="notFound" class="row d-flex justify-content-center">
                    <div class="col-md-8 m-lg-4 text-white text-center">
                        <h3>No se pudo encontrar "{{ text }}"</h3>
                        <p>Busca de nuevo o prueba con una palabra clave diferente.</p>
                    </div>
                </div>
            </div>
        </main>
        <aside id="publicidad" class="col-4 contenedor-oscuro">
            <div class="row">
                <div class="col-12 text-center my-2 ">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad1.jpg" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad2.gif" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad3.jpg" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad4.jpg" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad5.gif" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad6.gif" class="img-fluid border" alt="...">
                    </a>
                </div>
                <div class="col-lg-6 text-center my-2">
                    <a [routerLink]="['/traductor']">
                        <img src="assets/img/publicidad7.png" class="img-fluid border" alt="...">
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>